# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2026 Abdelkader Boudih <oss@seuros.com>

BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterEnum: true
  AfterUnion: true
  BeforeElse: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Right
